<nav class="menu">
    <h2 class="logo">
        <a routerLink="/historia">TESTS FRONT END</a>
    </h2>
    <div class="menu">

        <app-menu-item title="PÍLDORA 1">
            <div class="submenu">
                <a routerLink="/historia">Historia</a>
                <a routerLink="/que-es-un-test">Qué es un test</a>
                <a routerLink="/que-es-un-assert">Qué es una aserción</a>
                <a routerLink="/ejercicio-1">Ejercicio 1</a>
                <a routerLink="/video-1">Video 1</a>
                <a routerLink="/estrategias">Estrategias para testear</a>
                <a routerLink="/ejercicio-2">Ejercicio 2</a>
            </div>
        </app-menu-item>
        <app-menu-item title="PÍLDORA 2">
            <div class="submenu">
                <a routerLink="/tecnologias">Tecnologías</a>
                <a routerLink="/jasmine-1">Jasmine 1</a>
                <a routerLink="/jasmine-2-matchers">Jasmine 2 Matchers</a>
                <a routerLink="/ejercicio-3">Ejercicio 3</a>
            </div>
        </app-menu-item>
    </div>
</nav>
